form {
  display: flex;
}

.btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  background-image: url('https://cdn-icons-png.flaticon.com/512/54/54481.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.btn:hover {
  opacity: 1;
}

.input {
  display: inline-block;
  font: inherit;
  font-size: 20px;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}
