.thumb {
  width: 260px;
  margin-right: 20px;
}

.button {
  margin-bottom: 10px;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
}

.description {
  width: 360px;
}
